[submodule "Engine/thirdparty/GLFW"]
	path = Engine/thirdparty/GLFW
	url = https://github.com/glfw/glfw
[submodule "Engine/thirdparty/GLM"]
	path = Engine/thirdparty/GLM
	url = https://github.com/g-truc/glm
[submodule "Engine/thirdparty/openal-soft"]
	path = Engine/thirdparty/openal-soft
	url = https://github.com/kcat/openal-soft
