[submodule "Engine/thirdparty/GLFW"]
	path = Modules/thirdparty/GLFW
	url = https://github.com/glfw/glfw
[submodule "Engine/thirdparty/GLM"]
	path = Modules/thirdparty/GLM
	url = https://github.com/g-truc/glm
[submodule "Engine/thirdparty/OpenAL"]
	path = Modules/thirdparty/OpenAL
	url = https://github.com/kcat/openal-soft
